<div class="movie_details">
  <div>
    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="{{movie.original_title}}">
  </div>
  <div class="movie_info">
    <h1>{{movie.original_title}}</h1>
    <h3>{{movie.overview}}</h3>
    <p>{{movie.genres.name}}</p>
    <p><b>Ratings:</b> {{movie.vote_average}} (Vote count: {{movie.vote_count}})</p>
    <p><b>Release date:</b> {{movie.release_date}}</p>
    <p><b>Budget:</b> {{movie.budget}}$</p>
    <p><b>Revenue:</b> {{movie.revenue}}$</p>
    <p><b>Status</b> {{movie.status}}</p>
    <p><b>Runtime:</b> {{movie.runtime}} min.</p>
    <p><b>Homepage</b> {{movie.homepage}}</p>
  </div>
</div>

